/* RESET CSS */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GENERAL LAYOUT STYLES */
header, footer {
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
}

header {
  height: 4.375em;
  border-bottom: 1px solid #e7e7e7;
}

body, html {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

footer {
  border-top: 1px solid #e7e7e7;
  line-height: 2.8125em;
  margin-top: 1.5em;
  /* Make the sticky footer only sticky when
     the document is shorter than the browser height.
  position: absolute;
  left: 0;
  bottom: 0;
  */
}

/* HEADER LAYOUT STYLES */
.img-brand {
  height: inherit;
  display: inline-block;
  line-height: 4.375em;
}

nav ol, nav ul {
  margin: 0;
}

nav {
  height: inherit;
  display: inline-block;
  float: right;
}

li.menu-item {
  list-style: none;
}
li.menu-item:hover {
  transition: all .2s ease-in;
  transition: all .2s ease-out;
}
li.menu-item a {
  font-size: 1em;
  text-decoration: none;
}

/* Document Modals */
#mdlCurtain {
  background-color: rgba(0, 0, 0, 0.80);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.mdlContainer {
  background-color: white;
  display: none;
  left: 50%;
  min-height: 15em;
  min-width: 25em;
  padding-left: 1.25em;
  padding-right: 1.25em;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 1000;
}
.mdlClose i {
  z-index: 1001;
}
.mdlClose i {
  float: right;
}

/* Utility Classes */
.txt-left {
  text-align: left;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.full-width {
  width: 100%;
  display: block;
}

.txt-justify {
    text-align: justify;
}

.txt-uppercase {
    text-transform: uppercase;
}

.dotted-borders {
    border: dotted 2px;
}

.hide-element {
    display: none;
}

.button {
    padding: 1px;
    text-align: center;
    display: inline-block;
}

.slim {
    margin: 0;
    padding: 0;
}

.codeblock {
        display: inline-block;
        padding: 0.5em 1em;
        border: 1px solid #000000; /*White*/
        color: #eee;
        background-color: #513b56; /*Charcoal*/
        font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New; 

}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.strikethrough {
    text-decoration: line-through;
}

.underline {
    text-decoration: underline;
}

.superscript {
    vertical-align: super;
}

.subscript {
    vertical-align: sub;
}

.highlight {
    background-color: yellow;
}

/* TYPOGRAPHY */
h1, h2, h3,
h4, h5, h6,
p, ul, ol {
  margin-top: 0.65em;
  margin-bottom: 0.5em;
}
html, body {
  font-size: 1em;
}
ul, ol {
  margin-left: 1.5em;
  margin-right: 1.5em;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.5em;
}
h4 {
 font-size: 1.25em; 
}
h5 {
  font-size: 1.05em;
}
h6 {
  font-size: .9em;
}


/* DESKTOP CSS STYLES */
@media only screen and (min-width: 681px) {
  ul.menu {
    width: 100%;
    display: inline-block;
  }

  li.menu-item {
    height: inherit;
    float: left;
    overflow: hidden;
  }
  
  li.menu-item a {
    line-height: 4.375em;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    padding-top: 50%;
    padding-bottom: 50%;
  }
  
  .menu-btn {
    display: none;
  }
  
  /* Page Container */
  .container {
    max-width: 56.25em;
    margin: auto;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
  }
}



/* MOBILE CSS STYLES */
@media only screen and (max-width: 680px) {
  nav {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 4.375em;
  }
  ul.menu {
    display: none;
    width: 100%;
    line-height: 2.8125em;
    background-color: #f4f4f4;
  }
  li.menu-item {
    width: 100%;
  }
  li.menu-item a {
    padding-left: 0.9375em;
    display: block;
    width: 100%;
  }
  
  .menu-btn {
    float: right;
    cursor: pointer;
    line-height: 4.375em;
  }
  
  
  /* Page Container */
  .container {
    padding: 0;
    margin-left: 0.9375em;
    margin-right: 0.9375em;
    max-width: 100%;
  }
  
  /* Typography */
  html, body {
    font-size: .9em;
  }
}