/* General */
html, body {
  background-color: #fcfdff;
  color: #252627;
}

a, a:visited, a:active {
  color: #5EBC64;
  font-weight: bold;
  text-decoration: none;
}

table tr td {
  padding: 5px;
}

header, footer {
  background-color: #e8ffe9;
}

/* Navigation */
li.menu-item {
  color: #5ebc64;
}
li.menu-item:hover {
  background-color: #5ebc64;
}
li.menu-item a:visited {
  color: #5ebc64;
}
li.menu-item a:hover {
  color: #ffffff;
}
.img-brand {
  max-width: 7.25em;
  margin-top: 0.75em;
}
